<div style="display: flex; width: auto; justify-content: space-between;">
    <div style=" align-content: center; margin-left: 20px;">
        <h1 style=" padding: 6px; font-weight: bold; color: rgb(9, 9, 134);">OUR ALL TEACHERs</h1>
    </div>
    <div style=" margin-right: 40px; ">
        <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input (input)="searchTeacher(filter.value)" matInput placeholder="search student" #filter>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
</div>

<div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
    <mat-card class="teacher-card" *ngFor="let teacher of teachers">

        <mat-card-header style="background-color: #3f51b5;">
            <mat-card-title style="color: white;">Name: <strong>{{teacher.name}}</strong></mat-card-title>
        </mat-card-header>

        <mat-card-content class="card">
            <p>Department: <strong>{{teacher.department}}</strong></p>
            <p>Qualification: <strong>{{teacher.qualification}}</strong></p>
            <p>Date of Birth: <strong>{{teacher.dob | date: 'd,MMM,y'}}</strong></p>
            <p>Gender: <strong>{{teacher.gender}}</strong></p>
            <p>Address: <strong>{{teacher.address}}</strong></p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="accent" routerLink="/admin/teacher/{{teacher.id}}">Update</button>
            <button mat-button color="warn" (click)="deleteTeacher(teacher.id)">Delete</button>
        </mat-card-actions>
    </mat-card>
</div>