

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="header">
    <nav>
        <img src="/assets/Images/logo.png">
        <div class="nav-links">
            <ul>
                <li><a href="" routerLink="/" routerLinkActive="active">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="" routerLink="/login" routerLinkActive="active">Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="text-box">
        <h1>Inspiring Minds, Transforming Lives</h1>
        <p>using an advance quality scoring Algorithm and
            Machine Learning, we ensure that you receive more <br>ideas
            from our top-qualities creatives
        </p>
        <a href="" class="hero-btn">visit us to know more</a>
    </div>

</section>
<section class="course">
    <h1>Courses we offer</h1>
    <p>Using an advanced quality scroing Algorithm and machine Learning</p>

    <div class="row">
        <div class="course-column">
            <h3>Intermediate</h3>
            <p>adfsk dsnfk jeak fjnef akjf heruf fhskj fhjf djid jkdf
                jhdjd fbn dbyb dhbdn ewhb bxsy nshdm sywh kjsbj gtsnd
                Psjn tdj iuady qswi dioz nsb cbjadu sdkjad audhdiae bjkdyfv btedbs
                adfsk dsnfk jeak fjnef akjf heruf fhskj fhjf djid jkdf
                jhdjd fbn dbyb dhbdn ewhb cbjadu sdkjad audhdiae bjkdyfv btedbs
            </p>
        </div>
        <div class="course-column">
            <h3>Degree</h3>
            <p>adfsk dsnfk jeak fjnef akjf heruf fhskj fhjf djid jkdf
                jhdjd fbn dbyb dhbdn ewhb bxsy nshdm sywh kjsbj gtsnd
                adfsk dsnfk jeak fjnef akjf heruf fhskj fhjf djid jkdf
                jhdjd fbn dbyb dhbdn ewhb bxsy nshdm sywh kjsbj
                Psjn tdj iuady qswi dioz nsb cbjadu sdkjad audhdiae bjkdyfv btedbs
            </p>
        </div>
        <div class="course-column">
            <h3>Post Graduate</h3>
            <p>adfsk dsnfk jeak fjnef akjf heruf fhskj fhjf djid jkdf
                jhdjd fbn dbyb dhbdn ewhb bxsy nshdm sywh kjsbj gtsnd
                adfsk dsnfk jeak fjnef akjf heruf fhskj fhjf djid jkdf
                jhdjd fbn dbyb dhbdn ewhb bxsy nshdm sywh kjsbj
                Psjn tdj iuady qswi dioz nsb cbjadu sdkjad audhdiae bjkdyfv btedbs
            </p>
        </div>
    </div>
</section>

<!-- ..................Facilities....................... -->
<section class="facilities">
    <h1>Our Facilities</h1>
    <p>alkdfm nvjhdcn jweuflh sudjv rsjft, dhtac cqoes cvesnf smasz.</p>

    <div class="row">
        <div class="facilities-col">
            <img src="/assets/Images/library.png">
            <h3>World class Library</h3>
            <p>alkdfm nvjhdcn jweuflh sudjv rsjft, dhtac cqoes adnsm sybshds asncv erabnd smstas snstas
                cvesnf smasz mere was have got some food amcndf.</p>
        </div>

        <div class="facilities-col">
            <img src="/assets/Images/basketball.png">
            <h3>Largest Play Ground</h3>
            <p>alkdfm nvjhdcn jweuflh sudjv rsjft, dhtac cqoes adnsm sybshds asncv erabnd smstas snstas
                cvesnf smasz mere was have got some food amcndf.</p>
        </div>

        <div class="facilities-col">
            <img src="/assets/Images/cafeteria.png">
            <h3>Teasty and Healthy Food</h3>
            <p>alkdfm nvjhdcn jweuflh sudjv rsjft, dhtac cqoes adnsm sybshds asncv erabnd smstas snstas
                cvesnf smasz mere was have got some food amcndf.</p>
        </div>
    </div>

</section>

<!-- .............................Teachers ...................................... -->

<div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
    <mat-card class="teacher-card" *ngFor="let teacher of teachers">

        <mat-card-header style="background-color: #3f51b5;">
            <mat-card-title style="color: white;">Name: <strong>{{teacher.name}}</strong></mat-card-title>
        </mat-card-header>

        <mat-card-content class="card">
            <p>Department: <strong>{{teacher.department}}</strong></p>
            <p>Qualification: <strong>{{teacher.qualification}}</strong></p>
            <p>Date of Birth: <strong>{{teacher.dob | date: 'd,MMM,y'}}</strong></p>
            <p>Gender: <strong>{{teacher.gender}}</strong></p>
            <p>Address: <strong>{{teacher.address}}</strong></p>
        </mat-card-content>
    </mat-card>
</div>

<!-- ...........................Fotter................................ -->
<section>
    <div class="footer">
        <div class="container">
            <div class="content">
                <h2 class="quickLink-heading">Quick Links</h2>
                <ul class="quickLink-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="content">
                <h2 class="quickLink-heading">Student section</h2>
                <ul class="quickLink-menu">
                    <li><a href="#">Result</a></li>
                    <li><a href="#">Pay Fee</a></li>
                    <li><a href="#">Training</a></li>
                    <li><a href="#">Placements</a></li>
                </ul>
            </div>
            <div class="content">
                <h2 class="quickLink-heading">Information Links</h2>
                <ul class="quickLink-menu">
                    <li><a href="#">News</a></li>
                    <li><a href="#">R&D Policy</a></li>
                    <li><a href="#">Anti-Ragging</a></li>
                    <li><a href="#">Admission</a></li>
                </ul>
            </div>
            <div class="content">
                <h2 class="quickLink-heading" style="font-size: 20px;">GET IN TOUCH</h2>
                <ul class="get-in-touch">
                    <li><i class="fa fa-envelope"></i> Email : <a href="#" class="footer-email">info"&#64;"dezven.com</a></li>
                    <li><i class="fa fa-whatsapp"></i> WHATS-APP : +91-123 456 789</li>
                    <li><i class="fa fa-phone"></i> CONTACT NO.: +91 - (123) - 4567890</li>
                    <li><i class="fa fa-globe"></i> WEBSITE : <a href="#"
                            class="footer-website">https://www.google.com</a></li>
                </ul>
                <ul class="social-media">
                    <li><a href=""><img src="/assets/Images/icon-facebook.png" alt=""></a></li>
                    <li><a href=""><img src="/assets/Images/icon-linkedin.png" alt=""></a></li>
                    <li><a href=""><img src="/assets/Images/icon-twitter.png" alt=""></a></li>
                    <li><a href=""><img src="/assets/Images/icon-instagram.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer2-bacbor">
        <p class="footer2-content">Copyright "&#64;" 2023, dezven.com All Rights Reserved</p>
    </div>
</section>




